php_flag display_errors Off
php_flag log_errors On
php_value error_reporting -1

ErrorDocument 404 /php-playground/php-and-mysql/section-b/c10/live/page-not-found.php
ErrorDocument 500 /php-playground/php-and-mysql/section-b/c10/live/error.php
