{% extends 'layout.html.twig' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <main class="container" id="content">
        <section class="header">
            <h1>Forgot Password</h1>
        </section>

        {% if sent == false %}
            <form action="{{ doc_root }}/password-lost" class="form-membership" method="POST">
                <label for="email">Enter your email address: </label>
                <input type="text" name="email" id="email" class="form-control" />
                <br />
                <input type="submit" name="submit" value="Send email to reset password" class="btn" />
                <span class="errors">{{ error }}</span>
            </form>
        {% else %}
            <p class="form-membership">
                If your address is registered, we will email instruction to reset your password.
            </p>
        {% endif %}
    </main>
{% endblock %}
