{% extends 'admin/layout.html.twig' %}

{% block content %}
    <main class="container admin" id="content">
        <form action="{{ doc_root }}/admin/category-delete.php?id={{ id }}" class="narrow" method="POST">
            <h1>Delete Category</h1>
            <p>Click confirm to delete the category <em>{{ category.name }}</em></p>
            <input type="submit" name="delete" class="btn btn-primary" value="Confirm" />
            <a href="{{ doc_root }}/admin/categories.php" class="btn btn-danger">Cancel</a>
        </form>
    </main>
{% endblock %}
